#smtp mail server address
mail_server=
#username for smtp server login
user=
#password for smtp server login
password=
#email subject
subject=Zakaz_Order
#user email from which e-mail will be sent
from_email=
#email where script will send messages 
#(can be defined multiple, using semicolon without whitespaces)
to_email=order@farmaco.kiev.ua